<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sobre Comic App</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> 
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About Us</li>
  </ol>
</nav>
</div>

