<div class="container py-5 mt-5">
	<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class=" animated fadeIn" *ngIf="mostrar; else mostrardos">What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

<button class="btn btn-warning" data-toggle="tooltip" data-placement="right" title="Clique aqui para mostrar el contenido" (click)="mostrar=!mostrar"> Mostrar / Ocutar ></button>


<ng-template #mostrardos>
<p class=" animated fadeIn text-info">What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</ng-template>	
 <hr>

 <div class="card-columns">
      <div class="card" *ngFor="let heroe of heroes">
	    <img [src]="heroe.img" class="card-img-top" alt="...">
	    <div class="card-body">
	      <h5 class="card-title text-center">{{ heroe.nombre }}</h5>
	      <p class="card-text">{{ heroe.bio }}</p>
	      <p class="text-muted">Aparicion - {{ heroe.aparicion }}</p>
	      <p class="text-info"> Casa - {{ heroe.casa }}</p>
	    </div>
	    <div class="text-center pb-4">
	      <button class="btn btn-warning">Ver mas</button>
	    </div>
	  </div>
 </div>	
</div>